html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  overflow: hidden;
}

#background {
  width: 100%;
  height: 100%;
  transform: translateZ(0);   /* Force GPU acceleration */
  will-change: transform;     /* Hint future changes to the browser */
}
