{
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "selector-max-id": 0,
    "selector-no-qualifying-type": true,
    "unit-no-unknown": true
  }
}
